In [37]:
import pandas as pd

In [39]:
df_2022 = pd.read_csv("./bases/PEDE 2024 - DATATHON - PEDE2022.csv")
df_2023 = pd.read_csv("./bases/PEDE 2024 - DATATHON - PEDE2023.csv")
df_2024 = pd.read_csv("./bases/PEDE 2024 - DATATHON - PEDE2024.csv")

In [41]:
df_2022.head()

,RA,Fase,Turma,Nome,Ano nasc,Idade 22,Gênero,Ano ingresso,Instituição de ensino,Pedra 20,...,Inglês,Indicado,Atingiu PV,IPV,IAN,Fase ideal,Defas,Destaque IEG,Destaque IDA,Destaque IPV
0,RA-1,7,A,Aluno-1,2003,19,Menina,2016,Escola Pública,Ametista,...,"6,0",Sim,Não,"7,278","5,000",Fase 8 (Universitários),-1,Melhorar: Melhorar a sua entrega de lições de ...,Melhorar: Empenhar-se mais nas aulas e avaliaç...,Melhorar: Integrar-se mais aos Princípios Pass...
1,RA-2,7,A,Aluno-2,2005,17,Menina,2017,Rede Decisão,Ametista,...,"9,7",Não,Não,"6,778","10,000",Fase 7 (3º EM),0,Melhorar: Melhorar a sua entrega de lições de ...,Melhorar: Empenhar-se mais nas aulas e avaliaç...,Melhorar: Integrar-se mais aos Princípios Pass...
2,RA-3,7,A,Aluno-3,2005,17,Menina,2016,Rede Decisão,Ametista,...,"6,9",Não,Não,"7,556","10,000",Fase 7 (3º EM),0,Destaque: A sua boa entrega das lições de casa.,Melhorar: Empenhar-se mais nas aulas e avaliaç...,Destaque: A sua boa integração aos Princípios ...
3,RA-4,7,A,Aluno-4,2005,17,Menino,2017,Rede Decisão,Ametista,...,"8,7",Não,Não,"5,278","10,000",Fase 7 (3º EM),0,Melhorar: Melhorar a sua entrega de lições de ...,Melhorar: Empenhar-se mais nas aulas e avaliaç...,Melhorar: Integrar-se mais aos Princípios Pass...
4,RA-5,7,A,Aluno-5,2005,17,Menina,2016,Rede Decisão,Ametista,...,"5,7",Não,Não,"7,389","10,000",Fase 7 (3º EM),0,Destaque: A sua boa entrega das lições de casa.,Melhorar: Empenhar-se mais nas aulas e avaliaç...,Melhorar: Integrar-se mais aos Princípios Pass...

In [43]:
print(df_2022.columns)
print(len(df_2022.columns))
list_df2022 = list(df_2022.columns)

Index(['RA', 'Fase', 'Turma', 'Nome', 'Ano nasc', 'Idade 22', 'Gênero',
       'Ano ingresso', 'Instituição de ensino', 'Pedra 20', 'Pedra 21',
       'Pedra 22', 'INDE 22', 'Cg', 'Cf', 'Ct', 'Nº Av', 'Avaliador1',
       'Rec Av1', 'Avaliador2', 'Rec Av2', 'Avaliador3', 'Rec Av3',
       'Avaliador4', 'Rec Av4', 'IAA', 'IEG', 'IPS', 'Rec Psicologia', 'IDA',
       'Matem', 'Portug', 'Inglês', 'Indicado', 'Atingiu PV', 'IPV', 'IAN',
       'Fase ideal', 'Defas', 'Destaque IEG', 'Destaque IDA', 'Destaque IPV'],
      dtype='object')
42

## Pre-processing dataframe from 2022

In [51]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860 entries, 0 to 859
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RA                     860 non-null    object
 1   Fase                   860 non-null    int64
 2   Turma                  860 non-null    object
 3   Nome                   860 non-null    object
 4   Ano nasc               860 non-null    int64
 5   Idade 22               860 non-null    int64
 6   Gênero                 860 non-null    object
 7   Ano ingresso           860 non-null    int64
 8   Instituição de ensino  860 non-null    object
 9   Pedra 20               323 non-null    object
 10  Pedra 21               462 non-null    object
 11  Pedra 22               860 non-null    object
 12  INDE 22                860 non-null    object
 13  Cg                     860 non-null    object
 14  Cf                     860 non-null    int64
 15  Ct                     860 non-null    int64
 16  Nº Av                  860 non-null    int64
 17  Avaliador1             860 non-null    object
 18  Rec Av1                860 non-null    object
 19  Avaliador2             860 non-null    object
 20  Rec Av2                860 non-null    object
 21  Avaliador3             534 non-null    object
 22  Rec Av3                860 non-null    object
 23  Avaliador4             310 non-null    object
 24  Rec Av4                296 non-null    object
 25  IAA                    860 non-null    object
 26  IEG                    860 non-null    object
 27  IPS                    860 non-null    object
 28  Rec Psicologia         860 non-null    object
 29  IDA                    860 non-null    object
 30  Matem                  858 non-null    object
 31  Portug                 858 non-null    object
 32  Inglês                 283 non-null    object
 33  Indicado               860 non-null    object
 34  Atingiu PV             860 non-null    object
 35  IPV                    860 non-null    object
 36  IAN                    860 non-null    object
 37  Fase ideal             860 non-null    object
 38  Defas                  860 non-null    int64
 39  Destaque IEG           860 non-null    object
 40  Destaque IDA           860 non-null    object
 41  Destaque IPV           860 non-null    object
dtypes: int64(8), object(34)
memory usage: 282.3+ KB

In [65]:
df_2022.drop(columns=["Fase","Pedra 20","Pedra 21","Avaliador1","Avaliador2","Avaliador3","Avaliador4","Matem","Portug","Inglês","Fase ideal"],
            inplace=True)
df_2022.rename()

In [67]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860 entries, 0 to 859
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RA                     860 non-null    object
 1   Turma                  860 non-null    object
 2   Nome                   860 non-null    object
 3   Ano nasc               860 non-null    int64
 4   Idade 22               860 non-null    int64
 5   Gênero                 860 non-null    object
 6   Ano ingresso           860 non-null    int64
 7   Instituição de ensino  860 non-null    object
 8   Pedra 22               860 non-null    object
 9   INDE 22                860 non-null    object
 10  Cg                     860 non-null    object
 11  Cf                     860 non-null    int64
 12  Ct                     860 non-null    int64
 13  Nº Av                  860 non-null    int64
 14  Rec Av1                860 non-null    object
 15  Rec Av2                860 non-null    object
 16  Rec Av3                860 non-null    object
 17  Rec Av4                296 non-null    object
 18  IAA                    860 non-null    object
 19  IEG                    860 non-null    object
 20  IPS                    860 non-null    object
 21  Rec Psicologia         860 non-null    object
 22  IDA                    860 non-null    object
 23  Indicado               860 non-null    object
 24  Atingiu PV             860 non-null    object
 25  IPV                    860 non-null    object
 26  IAN                    860 non-null    object
 27  Defas                  860 non-null    int64
 28  Destaque IEG           860 non-null    object
 29  Destaque IDA           860 non-null    object
 30  Destaque IPV           860 non-null    object
dtypes: int64(7), object(24)
memory usage: 208.4+ KB

# Pre-processing dataframe from 2023

In [53]:
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 48 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RA                     1014 non-null   object
 1   Fase                   1014 non-null   object
 2   INDE 2023              932 non-null    object
 3   Pedra 2023             932 non-null    object
 4   Turma                  1014 non-null   object
 5   Nome Anonimizado       1014 non-null   object
 6   Data de Nasc           1014 non-null   object
 7   Idade                  1014 non-null   object
 8   Gênero                 1014 non-null   object
 9   Ano ingresso           1014 non-null   int64
 10  Instituição de ensino  1014 non-null   object
 11  Pedra 20               240 non-null    object
 12  Pedra 21               335 non-null    object
 13  Pedra 22               600 non-null    object
 14  Pedra 23               0 non-null      float64
 15  INDE 22                600 non-null    object
 16  INDE 23                0 non-null      float64
 17  Cg                     0 non-null      float64
 18  Cf                     0 non-null      float64
 19  Ct                     0 non-null      float64
 20  Nº Av                  938 non-null    float64
 21  Avaliador1             938 non-null    object
 22  Rec Av1                0 non-null      float64
 23  Avaliador2             938 non-null    object
 24  Rec Av2                0 non-null      float64
 25  Avaliador3             707 non-null    object
 26  Rec Av3                0 non-null      float64
 27  Avaliador4             334 non-null    object
 28  Rec Av4                0 non-null      float64
 29  IAA                    951 non-null    object
 30  IEG                    938 non-null    object
 31  IPS                    945 non-null    object
 32  IPP                    938 non-null    object
 33  Rec Psicologia         0 non-null      float64
 34  IDA                    938 non-null    object
 35  Mat                    937 non-null    object
 36  Por                    937 non-null    object
 37  Ing                    334 non-null    object
 38  Indicado               0 non-null      float64
 39  Atingiu PV             0 non-null      float64
 40  IPV                    938 non-null    object
 41  IAN                    1014 non-null   object
 42  Fase Ideal             1014 non-null   object
 43  Defasagem              1014 non-null   int64
 44  Destaque IEG           0 non-null      float64
 45  Destaque IDA           0 non-null      float64
 46  Destaque IPV           0 non-null      float64
 47  Destaque IPV.1         0 non-null      float64
dtypes: float64(17), int64(2), object(29)
memory usage: 380.4+ KB

In [55]:
df_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 50 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RA                     1156 non-null   object
 1   Fase                   1156 non-null   object
 2   INDE 2024              1155 non-null   object
 3   Pedra 2024             1155 non-null   object
 4   Turma                  1156 non-null   object
 5   Nome Anonimizado       1156 non-null   object
 6   Data de Nasc           1156 non-null   object
 7   Idade                  1156 non-null   int64
 8   Gênero                 1156 non-null   object
 9   Ano ingresso           1156 non-null   int64
 10  Instituição de ensino  1155 non-null   object
 11  Pedra 20               191 non-null    object
 12  Pedra 21               264 non-null    object
 13  Pedra 22               472 non-null    object
 14  Pedra 23               690 non-null    object
 15  INDE 22                472 non-null    object
 16  INDE 23                690 non-null    object
 17  Cg                     0 non-null      float64
 18  Cf                     0 non-null      float64
 19  Ct                     0 non-null      float64
 20  Nº Av                  1156 non-null   int64
 21  Avaliador1             1029 non-null   object
 22  Rec Av1                0 non-null      float64
 23  Avaliador2             1029 non-null   object
 24  Rec Av2                0 non-null      float64
 25  Avaliador3             793 non-null    object
 26  Avaliador4             407 non-null    object
 27  Avaliador5             148 non-null    object
 28  Avaliador6             6 non-null      object
 29  IAA                    1054 non-null   object
 30  IEG                    1156 non-null   object
 31  IPS                    1054 non-null   object
 32  IPP                    1054 non-null   object
 33  Rec Psicologia         0 non-null      float64
 34  IDA                    1156 non-null   object
 35  Mat                    1051 non-null   object
 36  Por                    1050 non-null   object
 37  Ing                    474 non-null    object
 38  Indicado               0 non-null      float64
 39  Atingiu PV             0 non-null      float64
 40  IPV                    1054 non-null   object
 41  IAN                    1156 non-null   object
 42  Fase Ideal             1156 non-null   object
 43  Defasagem              1156 non-null   int64
 44  Destaque IEG           0 non-null      float64
 45  Destaque IDA           0 non-null      float64
 46  Destaque IPV           0 non-null      float64
 47  Escola                 1155 non-null   object
 48  Ativo/ Inativo         1156 non-null   object
 49  Ativo/ Inativo.1       1156 non-null   object
dtypes: float64(11), int64(4), object(35)
memory usage: 451.7+ KB

In [45]:
df_2023.head()

,RA,Fase,INDE 2023,Pedra 2023,Turma,Nome Anonimizado,Data de Nasc,Idade,Gênero,Ano ingresso,...,Indicado,Atingiu PV,IPV,IAN,Fase Ideal,Defasagem,Destaque IEG,Destaque IDA,Destaque IPV,Destaque IPV.1
0,RA-861,ALFA,"9,31095",Topázio,ALFA A - G0/G1,Aluno-861,6/17/2015,8,Feminino,2023,...,NaN,NaN,"8,92",10,ALFA (1° e 2° ano),0,NaN,NaN,NaN,NaN
1,RA-862,ALFA,"8,2212",Topázio,ALFA A - G0/G1,Aluno-862,5/31/2014,9,Masculino,2023,...,NaN,NaN,"8,585",5,Fase 1 (3° e 4° ano),-1,NaN,NaN,NaN,NaN
2,RA-863,ALFA,"5,92975",Quartzo,ALFA A - G0/G1,Aluno-863,2/25/2016,7,Masculino,2023,...,NaN,NaN,"6,26",10,ALFA (1° e 2° ano),0,NaN,NaN,NaN,NaN
3,RA-864,ALFA,"7,034",Ametista,ALFA A - G0/G1,Aluno-864,12/3/2015,1/7/1900,Feminino,2023,...,NaN,NaN,"8,5",10,ALFA (1° e 2° ano),0,NaN,NaN,NaN,NaN
4,RA-865,ALFA,"8,1552",Topázio,ALFA A - G0/G1,Aluno-865,11/13/2014,8,Masculino,2023,...,NaN,NaN,"7,915",10,ALFA (1° e 2° ano),0,NaN,NaN,NaN,NaN

In [47]:
print(df_2023.columns)
print(len(df_2023.columns))
list_df2023 = list(df_2023.columns)

Index(['RA', 'Fase', 'INDE 2023', 'Pedra 2023', 'Turma', 'Nome Anonimizado',
       'Data de Nasc', 'Idade', 'Gênero', 'Ano ingresso',
       'Instituição de ensino', 'Pedra 20', 'Pedra 21', 'Pedra 22', 'Pedra 23',
       'INDE 22', 'INDE 23', 'Cg', 'Cf', 'Ct', 'Nº Av', 'Avaliador1',
       'Rec Av1', 'Avaliador2', 'Rec Av2', 'Avaliador3', 'Rec Av3',
       'Avaliador4', 'Rec Av4', 'IAA', 'IEG', 'IPS', 'IPP', 'Rec Psicologia',
       'IDA', 'Mat', 'Por', 'Ing', 'Indicado', 'Atingiu PV', 'IPV', 'IAN',
       'Fase Ideal', 'Defasagem', 'Destaque IEG', 'Destaque IDA',
       'Destaque IPV', 'Destaque IPV.1'],
      dtype='object')
48

In [49]:
df_2024

,RA,Fase,INDE 2024,Pedra 2024,Turma,Nome Anonimizado,Data de Nasc,Idade,Gênero,Ano ingresso,...,IPV,IAN,Fase Ideal,Defasagem,Destaque IEG,Destaque IDA,Destaque IPV,Escola,Ativo/ Inativo,Ativo/ Inativo.1
0,RA-1275,ALFA,"7,611366667",Ametista,ALFA A - G0/G1,Aluno-1275,28/07/2016,8,Masculino,2024,...,"5,4",10,ALFA (1° e 2° ano),0,NaN,NaN,NaN,EE Chácara Florida II,Cursando,Cursando
1,RA-1276,ALFA,"8,002866667",Topázio,ALFA A - G0/G1,Aluno-1276,16/10/2016,8,Feminino,2024,...,"7,1",10,ALFA (1° e 2° ano),0,NaN,NaN,NaN,EE Chácara Florida II,Cursando,Cursando
2,RA-1277,ALFA,"7,9522",Ametista,ALFA A - G0/G1,Aluno-1277,16/08/2016,8,Masculino,2024,...,"7,0",10,ALFA (1° e 2° ano),0,NaN,NaN,NaN,EE Dom Pedro Villas Boas de Souza,Cursando,Cursando
3,RA-868,ALFA,"7,156366667",Ametista,ALFA A - G0/G1,Aluno-868,08/11/2015,8,Masculino,2023,...,"7,2",5,Fase 1 (3° e 4° ano),-1,NaN,NaN,NaN,EE Chácara Florida II,Cursando,Cursando
4,RA-1278,ALFA,"5,4442",Quartzo,ALFA A - G0/G1,Aluno-1278,22/03/2015,9,Masculino,2024,...,"4,2",5,Fase 1 (3° e 4° ano),-1,NaN,NaN,NaN,EM Etelvina Delfim Simões,Cursando,Cursando
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1151,RA-1658,9,INCLUIR,INCLUIR,9,Aluno-1658,14/12/2002,21,Masculino,2021,...,NaN,10,Fase 8 (Universitários),1,NaN,NaN,NaN,Faculdade (FIAP),Cursando,Cursando
1152,RA-1659,9,INCLUIR,INCLUIR,9,Aluno-1659,04/02/2003,21,Masculino,2021,...,NaN,10,Fase 8 (Universitários),1,NaN,NaN,NaN,Bolsista Universitário *Formado (a),Cursando,Cursando
1153,RA-1252,9,INCLUIR,INCLUIR,9,Aluno-1252,03/06/2002,22,Feminino,2021,...,NaN,10,Fase 8 (Universitários),1,NaN,NaN,NaN,Faculdade (FIAP),Cursando,Cursando
1154,RA-1660,9,INCLUIR,INCLUIR,9,Aluno-1660,28/06/2000,24,Feminino,2021,...,NaN,10,Fase 8 (Universitários),1,NaN,NaN,NaN,Bolsista Universitário *Formado (a),Cursando,Cursando
1155,RA-1661,9,INCLUIR,INCLUIR,9,Aluno-1661,29/01/2003,21,Feminino,2021,...,NaN,10,Fase 8 (Universitários),1,NaN,NaN,NaN,Bolsista Universitário *Formado (a),Cursando,Cursando

In [27]:
print(df_2024.columns)
print(len(df_2024.columns))
list_df2024 = list(df_2024.columns)

Index(['RA', 'Fase', 'INDE 2024', 'Pedra 2024', 'Turma', 'Nome Anonimizado',
       'Data de Nasc', 'Idade', 'Gênero', 'Ano ingresso',
       'Instituição de ensino', 'Pedra 20', 'Pedra 21', 'Pedra 22', 'Pedra 23',
       'INDE 22', 'INDE 23', 'Cg', 'Cf', 'Ct', 'Nº Av', 'Avaliador1',
       'Rec Av1', 'Avaliador2', 'Rec Av2', 'Avaliador3', 'Avaliador4',
       'Avaliador5', 'Avaliador6', 'IAA', 'IEG', 'IPS', 'IPP',
       'Rec Psicologia', 'IDA', 'Mat', 'Por', 'Ing', 'Indicado', 'Atingiu PV',
       'IPV', 'IAN', 'Fase Ideal', 'Defasagem', 'Destaque IEG', 'Destaque IDA',
       'Destaque IPV', 'Escola', 'Ativo/ Inativo', 'Ativo/ Inativo.1'],
      dtype='object')
50

In [31]:
colunas_comuns = list(set(list_df2022) & set(list_df2023) & set(list_df2024))
colunas_comuns

['IAN',
 'RA',
 'Pedra 20',
 'Avaliador1',
 'Nº Av',
 'INDE 22',
 'Destaque IEG',
 'Rec Psicologia',
 'Gênero',
 'IPV',
 'Pedra 22',
 'IAA',
 'Ct',
 'Cf',
 'Cg',
 'Atingiu PV',
 'Turma',
 'Rec Av2',
 'Indicado',
 'Instituição de ensino',
 'Avaliador2',
 'IDA',
 'Destaque IPV',
 'Ano ingresso',
 'Fase',
 'Pedra 21',
 'Destaque IDA',
 'Avaliador3',
 'IPS',
 'IEG',
 'Avaliador4',
 'Rec Av1']